<% if flash[:alert]%>
  <div class="ui negative message">
    <p><%= flash[:alert]%></p>
  </div>
<% end %>

<div class="ui grid">
  <div class="ui four wide column"></div>
  <div class="ui eight wide column">
    <h2>User login:</h2>
    <%= form_for @user, url: login_path, method: :post do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %><br><br>

      <%= f.submit "log in", :class => "ui button" %><br><br>
      <%= link_to(controller: 'users', action: 'new') { 'new user' } %>
    <% end %>
  </div>
  <div class="ui four wide column"></div>
</div>