<h3>user login page</h3>

<%= form_for @user, url: login_path, method: :post do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "log in" %><br><br>
  <%= link_to(controller: 'users', action: 'new') { 'new user' } %>
<% end %>