
<div class="ui grid">
  <div class="ui four wide column"></div>
  <div class="ui nine wide column">
    <h2><%= @user.name%>:</h2>

    
    <h4>Tell us about your musical background:</h4>
    <%= form_for @user do |f|%>
      
      <%= f.text_area :bio, size: "40x8" %><br><br>
      <%= f.label 'Embed a YouTube video of you performing (after loading video, goto "Share" then "Copy")' %><br>
      <%= f.text_field :video %><br><br>

      <div class="ui grid" >
        <div class="four wide column">
          <%= f.label :genre_ids, "Your prefered ensemble" %><br>
          <%= f.collection_select :genre_ids, Genre.all, :id, :name %><br>
        </div>
        <div class="eight wide column">
          <%= f.label :instrument_ids, "Your instruments" %><br>
          <%= f.collection_select :instrument_ids, Instrument.sort_by_name, :id, :name, {}, {:multiple => true} %><br>
        </div>
      </div>
      <br> 
        <%= f.label :phone, "Your phone number" %><br>
        <%= f.text_field :phone %><br><br>
      <%= f.submit "Here we go...", :class => "ui button" %>
    <% end %>

  </div>
  <div class="ui three wide column"></div>
</div>