
<div class="ui grid">
  <div class="ui four wide column"></div>

  <div class="ui five wide column">
    <h2>Musicians:</h2>
    <div class="ui list">
      <% @users.each do |user| %>
        <div class="ui list"><%= link_to user.name, user_path(user) %> - 
              <%= user.instruments.map{|i|i.name}.join(', ') %></div>
      <% end %>
    </div>
  </div>

  <div class="ui four wide column">
    <div class="ui grid">
      <div class="ui eight wide column">
        <div class="ui form">
    <br>
          <%= form_with url: instruments_path do |f|%>
            <%= f.collection_select :instrument_ids, Instrument.sort_by_name, :id, :name %><br><br>
            <%= f.submit "Submit search"%>
          <% end %>

        </div>
      </div>
    </div>
  </div>
  
</div>