  <% if @user.errors.messages.any? %>
    <div class="ui negative message">
      <% @user.errors.full_messages.each do |m| %>
        <ul>
        <li><%= m%></li>
        </ul>
      <% end %>
    </div>
  <% end %>

<div class="ui grid">
  <div class="ui four wide column"></div>
  <div class="ui eight wide column">
    <h2>Sign up for Gigdom:</h2>
    <div class="ui form signup">
      <%= form_for @user do |f| %>
        Name: <%= f.text_field :name %><br>
        Email (username): <%= f.text_field :email %><br>
        Password: <%= f.password_field :password %><br>
        Password Confirmation: <%= f.password_field :password_confirmation %><br><br>
        <%= f.submit "Submit", :class => "ui button" %>
      <% end %>
    </div>
  </div>
  <div class="ui four wide column"></div>
</div>