<h2><%= @user.name%> </h2>

<h4> Instrument(s): </h4>
<ul>
<% @user.instruments.each do |inst| %>
    <li><%= inst.name%></li>
<% end %>
</ul>

<h4> Genre(s): </h4>
<ul>
<% @user.genres.each do |gen| %>
    <li><%= gen.name%></li>
<% end %>
</ul>

<h4> Bio: </h4><p> <%= @user.bio %> </p>

<h4> My Jams:</h4>
<ul>
<% @user.jams.each do |jam| %>
    <li><%= jam.name%></li>
<% end %>
</ul>






