<div class="ui grid" >

    <div class="four wide column">
        
        <h4>Contact info:</h4>
        
        <p> Email: <%= mail_to @user.email%> </p>
        <p> Phone: <%= @user.phone%> </p>

        <h4> Instrument(s): </h4>
        <ul>
        <% @user.instruments.each do |inst| %>
            <li><%= inst.name%></li>
        <% end %>
        </ul>

        <h4> Genre(s): </h4>
        <ul>
        <% @user.genres.each do |gen| %>
            <li><%= gen.name%></li>
        <% end %>
        </ul>
        
    </div>

    <div class="eight wide column">
    
        <h2><%= @user.name%> </h2>

        <iframe width="420" height="315"
        src=<%= @user.video %>>
        </iframe>

        <h4> Bio: </h4><p> <%= @user.bio %> </p>
    
    </div>

    <div class="four wide column">

        <h4> My Jams:</h4>
        <ul>
        <% @user.jams.each do |jam| %>
            <li><%= link_to jam.name, jam%></li>
        <% end %>
        </ul>
    </div>


</div>


