<h1>SESSION: <%=@jam.name%> - <%= @jam.genres[0] %></h1>
<br>
<div class="ui grid">
    <div class="ui five wide column">
        <h3>Hosted by: <%= link_to @jam.host_name, user_path(@jam.host_id)%></h3>
        <h3>Location: <%= link_to @jam.space.name, space_path(@jam.space) %></h3>
        <h3>Date: <%= @jam.date %></h3>
        <h3>Time: <%= @jam.time%></h3>

        </h3>
    </div>


    <div class="ui six wide column">

        <h4>Currrent Members:</h4>
        <ul> 
            <% @jam.users.each do |member| %>
                <li><%= link_to member.name, member%> - <%= @jam.status(member)%> </li>
            <% end %>
        </ul>
    </div>

    <div class="ui five wide column">

        <h4>Tune List: </h4>
        <%=@jam.tunes %>

        <h4>Additional List: </h4>
        <%=@jam.info %>

    </div>
</div>

