<div class="ui center aligned header">
  <span class="large-font">Jamdom </span>
  <span class="small-font">Tinder for Playahs</span>
</div>

<% if logged_in?%>
  <%= link_to "Log out", logout_path, class: 'ui button very small', method: :post %>
  <%= link_to "Edit profile", edit_user_path(current_user), class: 'ui button small' %>
  <%= link_to "Setup a jam",  new_jam_path, class: 'ui button small' %>
  <%= link_to "Browse musicians",  users_path, class: 'ui button small' %>
  <%= link_to "Browse jams",  jams_path, class: 'ui button small' %>
  Current user: <%= link_to current_user.name, current_user%>
<% else %>
  <%= link_to "Log in", login_path, class: 'ui button small' %>
<% end %>
<div class="ui divider"></div>